@model AplicatieRutina.Models.UserProfile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserProfile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkinType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkinType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HairType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HairType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysOnApp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysOnApp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Streak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Streak)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
